requests
pandas
numpy
pathlib
googletrans==4.0.0-rc1
great_expectations
#os
datetime
#warnings
scikit-learn
imblearn
Pipeline
google.cloud.bigquery
google-cloud-storage
#ServiceAccountCredentials
oauth2client
apache-airflow-providers-google
deep-translator